<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>GESTION DB PERSONNES</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="w3-container w3-white w3-center">
        <h1>GESTION BASE DE DONNEES DES PERSONNES</h1>
    </div>
    <div class=""w3-bar w3-white>
        <a href="/persons" class="w3-bar-item w3-button w3-red w3-round-xxlarge">Liste des Personnes</a>
        <a href="/add" class="w3-bar-item w3-button w3-blue w3-round-xxlarge">Ajouter une Personne</a>
    </div>
